@import '../styles/globals.scss';
@import '../styles/colors.scss';

.projectHeader {
  position: relative;
  z-index: 50;
  background: linear-gradient(-90deg, $colMain, $colMain2);
  background-color: $colMain;
  width: 100%;
  padding: 5rem 0 0;
}

.projectInfo {
  background-color: $colAlt2;
  width: 100%;
  max-width: $max-content-width;
  border-radius: 8px 8px 0px 0px;
  margin: 5rem auto 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: baseline;
  padding: 1.5rem;

  @media screen and (max-width: $breakpoint-lg) {
    border-radius: 0;
  }
}

.subInfo {
  padding: 0.6rem 1.5rem;

  @media screen and (max-width: $breakpoint-sm) {
    flex-basis: 100%;
  }
}

.subTitle {
  margin: 0.5rem 0;
}

.subDesc {
  font-size: 1.8rem;
  color: $colText3;
}

.background {
  width: 100%;
  background-color: $colBG1;
}

.contentContainer {
  background-color: white;
  box-shadow: 0px 0px 6px $colShadow;
}

.content {
  padding: 1.5rem;
}