@import '../styles/globals.scss';
@import '../styles/colors.scss';

$breakpoint-1: 960px;

.projectHeader {
  position: relative;
  z-index: 50;
  background: linear-gradient(-90deg, $colMain, $colMain2);
  background-color: $colMain;
  width: 100%;
  padding: 5rem 0 0;
}

.projectInfo {
  background-color: $colAlt2;
  width: 100%;
  max-width: $max-content-width;
  border-radius: 8px 8px 0px 0px;
  margin: 5rem auto 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem;

  @media screen and (max-width: $breakpoint-md) {
    flex-wrap: wrap;
  }

  @media screen and (max-width: $breakpoint-lg) {
    border-radius: 0;
  }
}

.subInfoContainer {
  display: flex;
  flex-basis: 70%;

  @media screen and (max-width: $breakpoint-md) {
    flex-basis: 100%;
  }

  @media screen and (max-width: $breakpoint-sm) {
    flex-wrap: wrap;
  }
}

.subInfo {
  padding: 0.6rem 1.5rem;

  @media screen and (max-width: $breakpoint-sm) {
    flex-basis: 100%;
  }
}

.subTitle {
  margin: 0.5rem 0;
}

.subDesc {
  font-size: 1.8rem;
  color: $colText3;
}

.projectLinks {
  padding: 0.5rem 1.5rem;
  display: flex;
  flex-wrap: wrap;

  @media screen and (max-width: $breakpoint-md) {
    padding-top: 2rem;
  }
}

.projectLink {
  display: inline-block;
  color: $colText1;
  background-color: white;
  text-decoration: none;
  padding: 1rem 1.2rem;
  border-radius: 6px;
  margin: 0.5rem 1rem 0.5rem 0;
  font-weight: bold;
  box-shadow: 0px 0px 4px $colShadow;
  transition-duration: 0.2s;
  transition-property: box-shadow, transform, background-color, color;
  transition-timing-function: ease-out;

  &:hover {
    background-color: $colMain;
    color: white;
    transform: translateY(-2px);
    box-shadow: 0px 2px 8px $colShadow;
  }

  &:last-child {
    margin-right: 0;
  }
}

.background {
  width: 100%;
  background-color: $colBG1;
}

.contentContainer {
  background-color: white;
  box-shadow: 0px 0px 6px $colShadow;
}

.content {
  padding: 2rem 1.5rem 4rem;

  h2 {
    font-size: 2.4rem;
  }

  h3 {
    font-size: 2rem;
  }

  & > p {
    font-size: 2rem;
    color: $colText3;
    margin: 2.4rem 0;

    @media screen and (max-width: $breakpoint-sm) {
      font-size: 1.8rem;
    }
  }

  a {
    display: inline-block;
  }

  img {
    display: block;
    max-width: 100%;
    border: 1px solid $colBorder;
  }

  em {
    font-size: 1.6rem;
    display: block;
    padding: 0.5rem 0 1rem;
  }

  ul, ol {
    font-size: 2rem;

    li {
      padding-bottom: 0.8rem;
    }
  }

  @media screen and (max-width: $breakpoint-sm) {
    font-size: 1.8rem;
  }
}