
$colMain: #4897e5;
$colMain2: #1a4bad;
//$colMain2: #2054bc;

$colAlt1: #89d85b;
$colAlt2: #a4dd68;
$colAlt3: #c3ea92;

$colBG1: #e9eef2;

$colText1: #333333;
$colText2: #656565;
$colText3: #4d4d4d;

$colShadow: rgba(0, 0, 0, 0.25);