@import '../styles/globals.scss';
@import '../styles/colors.scss';

.aboutHeader {
  position: relative;
  z-index: 50;
  background: linear-gradient(-90deg, $colMain, $colMain2);
  background-color: $colMain;
  width: 100%;
  padding: 5rem 2rem 2rem;
  text-align: center;
  overflow: auto;
}

.aboutDesc {
  color: white;
  font-size: 2.2rem;
  max-width: $max-content-width;
  padding: 3rem 5rem;
  margin: 0 auto;
  text-align: left;
}

.skillsSection {
  width: 100%;
  background-color: $colBG1;
  padding-top: 2rem;
}

.skillsContainer {
  display: flex;
  padding-top: 2rem;
  flex-wrap: wrap;
}

.cardContainer {
  padding: 1rem;

  &.current {
    flex-basis: 60%;

    @media screen and (max-width: $breakpoint-sm) {
      flex-basis: 100%;
    }
  }

  &.todo {
    flex-basis: 40%;

    @media screen and (max-width: $breakpoint-sm) {
      flex-basis: 100%;
    }
  }
  
}

.skillCard {
  background-color: white;
  box-shadow: 0px 0px 6px $colShadow;
  border-radius: 8px;
  overflow: auto;
  height: 100%;
}

.cardTitle {
  background-color: $colAlt2;
  width: 100%;
  margin: 0;
  padding: 1rem 1.5rem;
  text-align: center;
}

.skillList {
  display: block;
  text-align: center;
  padding: 2rem 1.5rem;
  margin: 0;
  list-style: none;
}

.skillItem {
  display: inline-block;
  background-color: $colBG1;
  padding: 0.8rem;
  margin: 0.4rem;
  color: $colText1;
  border-radius: 5px;
}

.expSection {
  width: 100%;
  background-color: $colBG1;
  padding: 1rem 0 4rem;
}

.expContainer {
  position: relative;
  padding: 2rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.expCard {
  background-color: white;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0px 0px 6px $colShadow;
  margin: 1rem 0;
  width: 80%;

  @media screen and (max-width: $breakpoint-sm) {
    width: 100%;
  }
}

.expInfo {
  overflow: auto;
  color: white;
  background: linear-gradient(-90deg, $colMain, $colMain2);
  background-color: $colMain;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.position {
  padding: 1.5rem 2rem;
  & > h3 {
    margin: 0;
    color: $colAlt1;
  }

  & > span {
    display: inline-block;
    margin-top: 0.5rem;
  }
}

.year {
  padding: 1rem 2rem;
}

.expDetails {
  padding: 2rem 2rem;
}

.roleList {
  margin: 0;
  padding-left: 2rem;
}

.contactSection {
  background-color: white;
  width: 100%;
  padding: 5rem 2rem;
  text-align: center;
  box-shadow: 0px 0px 6px $colShadow;
}

.contactDesc {
  color: $colText1;
  font-size: 2.4rem;

  span {
    font-weight: bold;
    color: $colMain;
  }
}