@import '../styles/globals.scss';
@import '../styles/colors.scss';

.heading {
  position: relative;
  color: $colText1;
  font-size: 3.2rem;
  text-align: center;
  padding: 0 2rem;

  &::after {
    position: absolute;
    content: '';
    height: 8px;
    width: 10rem;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: $colMain;
  }

  &.alt {
    color: white;
    &::after {
      background-color: $colAlt1;
    }
  }
}