@import '../styles/globals.scss';
@import '../styles/colors.scss';

.header {
  //background-color: $colMain;
  background-color: transparent;
  width: 100%;
  position: fixed;
  transition: ease-out 0.2s background-color;
  z-index: 999;

  &.scroll {
    background-color: $colMain;
    box-shadow: 0px 2px 6px $colShadow;
  }
}

.container {
  max-width: $max-content-width;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
}

.logoContainer {
  width: 24px;
}

.logo {
  width: 100%;
}

.navLinks {
  text-transform: uppercase;
}



.navLink {
  display: inline-block;
  padding: 0 1rem;
  color: white;
  text-decoration: none;
  position: relative;
  font-size: 1.6rem;

  @media screen and (max-width: $breakpoint-sm) {
    font-size: 1.4rem;
  }

  transition: 0.2s ease-out color;
  &:hover {
    color: $colAlt2;
  }

  &.active {
    &::after {
      display: block;
      position: absolute;
      content: '';
      bottom: -0.6rem;
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
      height: 4px;
      background-color: $colAlt1;
    }
  }
}