@import '../styles/globals.scss';
@import '../styles/colors.scss';

.header {
  background-color: $colMain;
  width: 100%;
}

.container {
  max-width: $max-content-width;
  width: 100%;
  margin: 0 auto;
}